@media screen and (min-width: 601px) {
  .docs-sidebar .docs-nav {
    position: relative;
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-sidebar .docs-nav {
      position: sticky;
      position: -webkit-sticky;
      top: 8rem;
    }
    .docs-sidebar .docs-nav .nav-item a:focus {
      box-shadow: none;
    }
  }
}

.docs-nav-clear {
  display: none;
}

@media screen and (max-width: 600px) {
  .docs-sidebar {
    background: #fff;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
    width: 24rem;
    z-index: 400;
  }
  .docs-sidebar:target {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: transform .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
  }
  .docs-sidebar:target + .docs-nav-clear {
    display: block;
  }
  .docs-nav-clear {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 300;
  }
}

li blockquote {
  margin-left: 1rem;
}

.c-title {
  margin-left: 0.8rem;
}

.main-content {
  margin: 2rem 5rem;
}